# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work

# IDE
*.iml
.vscode/
*.swp

# Nextflow outputs
results/
trace-*
report-*
timeline-*
dag-*

# OS
.DS_Store
Thumbs.db
