name: Release nf-synapse plugin

on:
  release:
    types: [published]

jobs:
  release:
    name: Publish plugin release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Release plugin
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPR_API_KEY: ${{ secrets.NPR_API_KEY }}
          PLUGIN_VERSION: ${{ github.event.release.tag_name }}
